<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Muda Meu Mundo</title>
    <link rel="stylesheet" href="../assets/css/rstyle.css">
    <link rel="icon" type="image/png" href="../assets/img/logo.png">
</head>

<body>
    <img id="imgpos" src="../assets/img/logo.png" width="100" height="100"/>
        <div class="container">
            <div class="form">
                <form action="#">
                    <div class="form-header">
                        <div class="title">
                            <h1>Recuperar senha</h1>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="input-box">
                            <label for="email">Email para recuperação</label>
                            <input type="email" id="text" name="email" placeholder="Digite o email" required>
                        </div>
                    </div>

                    <div class="recover-button">
                        <button><a href="#">Enviar link de recuperação</a></button>
                    </div>
                </form>

            </div>
        </div>

        </div>